.ourvalue-container {
    /* border: 1px solid black; */
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0rem;
}


.ourvalue-container hr {
    width: 170px;
    height: 5px;
    right: -55px;
    position: relative;
    background-color: rgba(253, 177, 0, 0.744);
    border: none;
    margin: 10px auto 40px auto;
}

h2 {
    font-size: 3.5rem;
}

h2 span {
    color: #ff8101;
}

.value-container {
    margin-top: 3rem;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px;
}

.full-basket-container img {
    height: 450px;
}

.full-basket-container {
    grid-column: 2 / 3;
    grid-row: 1/ 3;

}


.food {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    right: 60px;
}

.values {
    display: flex;
    align-items: center;
    gap: 20px;

}

.values-icon-container {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 50%;
    /* height: max-content; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f77907;
}

.value-icon {
    font-size: 25px;
    color: white;
}

.value-details h5 {
    font-size: 1.4rem;
    margin-bottom: 7px;
}

.value-details p {
    font-size: 14px;
    line-height: 22px;

}

.left-value p {
    padding-left: 90px;
}

.left-value {
    text-align: end;
}

.trust {
    align-items: start;
    position: relative;
    top: 40px;
    left: 80px;
}

.right p {
    padding-right: 90px;
}

@media(max-width:1500px){
    

    .right p{
        padding: 0px;
    }
    .left-value p{
        padding: 0px;
    }
}
@media(max-width:1160px){
    .full-basket-container img{
        height: 350px;
    }
}

@media(max-width:1000px){

    .value-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .full-basket-container{
        order: -1; 
        /* margin-bottom: 20px; */
    }

    .trust-div{
        flex-direction: row-reverse;
    }
    
    .trust,.fresh{
        position: unset;
        padding: 16px 0px;
        flex-direction: row-reverse;
        align-items: center;
    }

    .food,.organic{
        right: 0px;
        padding: 16px 0px;
    }
    

    .left-value {
        text-align: start;

    }

}

@media(max-width:650px){
     .ourvalue-container hr{
         margin: 0px;
        margin-top: 8px;
        width: 90px;
        height: 4px;
        right: -60px;

     }

}

@media(max-width:460px){
    .value-container{
        padding: 0px 20px;
    }

}
 
       